/* COLORS
---------------------------------------- */
$darkgray: #292929;
$lightgray: #eff1e9;
$bluegray:#2B3438;
$green:#75e280;
$orange:#e39530;
$blue:#3EA1EA;

/* GRID SIZES
---------------------------------------- */
$large: 1600px;
$medium: 1200px;
$small: 800px;
$xsmall: 500px;
